div(class="message-container", type="out", from="aXNhYWM=", to="c2FyYXk=")
  div(class="message-zone")
    div(class="message")

  div(class="avatar-zone")
    img(class="avatar", src="./../img/a.png")
    img(class="avatar-mini", src="./../img/a.png")