div(class="message-container", type="in", from="c2FyYXk=", to="aXNhYWM=")
  div(class="avatar-zone")
    img(class="avatar", src="./../img/a.png")

  div(class="message-zone")
    div(class="message")