form(id="register-form", method="post", action="/register", class="container")
  h2 Create an account
  input(id="username", type="text", size="30", placeholder="username...", value="isaacvr")
  input(id="password", type="password", size="30", placeholder="password...")
  input(id="email", type="email", size="30", placeholder="email...")
  button(class="btn red", id="cancel") Cancel
  input(type="submit", class="btn green", value="Create")